<div class="welcome-container">

  <div class="image-section" style="background-image: url('/assets/steam-welcome-bg.jpeg');">
    <div class="brand-overlay">
      <div class="logo-placeholder">
        <span>
          <img width="80" height="80" src="assets/logo-steam.png" alt="Logo">
        </span>
      </div>

      <h1>VOCACIONES STEAM</h1>
      <p class="tagline">Descubre tu camino</p>
    </div>
  </div>

  <div class="content-section">
    <div class="content-wrapper">
      <h2>¡Bienvenido!</h2>
      <p class="description">
        Explora un universo de carreras, universidades y cursos diseñados para tu perfil. Donde la ciencia y el arte se
        encuentran.
      </p>

      <div class="actions-group">
        <button class="btn-welcome-login" routerLink="/login">
          Iniciar Sesión
        </button>

        <button class="btn-welcome-signup" routerLink="/register">
          Crear Cuenta
        </button>
      </div>
    </div>
  </div>

</div>