<nav class="navbar-container">
  <div class="nav-dock">
    
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <div class="icon-box">
        <app-lucide-icon name="home" [size]="20"></app-lucide-icon>
      </div>
      <span class="label">Inicio</span>
    </a>

    <a routerLink="/explore" routerLinkActive="active" class="nav-item">
      <div class="icon-box">
        <app-lucide-icon name="compass" [size]="20"></app-lucide-icon>
      </div>
      <span class="label">Explorar</span>
    </a>

    <a routerLink="/favorites" routerLinkActive="active" class="nav-item">
      <div class="icon-box">
        <app-lucide-icon name="heart" [size]="20"></app-lucide-icon>
      </div>
      <span class="label">Guardados</span>
    </a>

    <a routerLink="/profile" routerLinkActive="active" class="nav-item">
      <div class="icon-box">
        <app-lucide-icon name="user" [size]="20"></app-lucide-icon>
      </div>
      <span class="label">Perfil</span>
    </a>

  </div>
</nav>