<nav class="navbar-container">
  <div class="nav-dock">
    
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
      <div class="icon-box">
        <i class="icon">🏠</i>
      </div>
      <span class="label">Inicio</span>
    </a>

    <a routerLink="/explore" routerLinkActive="active" class="nav-item">
      <div class="icon-box">
        <i class="icon">🧭</i>
      </div>
      <span class="label">Explorar</span>
    </a>

    <a routerLink="/profile" routerLinkActive="active" class="nav-item">
      <div class="icon-box">
        <i class="icon">👤</i>
      </div>
      <span class="label">Perfil</span>
    </a>

  </div>
</nav>