<div class="splash-container" *ngIf="showSplash" [class.fade-out]="fadeOut">
  
  <div class="spinner-box">
    <div class="orbit steam-blue-orbit leo"></div>
    
    <div class="orbit steam-green-orbit leo"></div>
    
    <div class="orbit steam-orange-orbit leo"></div>
    
    <div class="orbit steam-red-orbit leo"></div>
    
    <div class="core-dot"></div>
  </div>

  <div class="brand-container">
    <h1 class="brand-title">
      <span style="color: #07B1C9">S</span>
      <span style="color: #4DB046">T</span>
      <span style="color: #F88718">E</span>
      <span style="color: #E8372D">A</span>
      <span style="color: #07B1C9">M</span>
    </h1>
    <p class="brand-subtitle">Descubriendo tu vocación...</p>
  </div>

</div>