<div class="auth-container">
  <div class="auth-card">
    
    <div class="auth-header">
      <div style="font-size: 3rem; margin-bottom: 10px;">🚀</div>
      <h2>Crea tu cuenta</h2>
      <p>Descubre qué carrera STEAM es para ti.</p>
    </div>

    <form>
      <div class="form-group">
        <label for="fullname">Nombre Completo</label>
        <input type="text" id="fullname" placeholder="Tu nombre" required>
      </div>

      <div class="form-group">
        <label for="email">Correo Institucional / Personal</label>
        <input type="email" id="email" placeholder="nombre@ejemplo.com" required>
      </div>

      <div class="form-group">
        <label for="password">Crear Contraseña</label>
        <input type="password" id="password" placeholder="Mínimo 8 caracteres" required>
      </div>

      <button class="btn-primary btn-register-theme btn-block" style="margin-top: 25px;">
        Crear mi Cuenta 🚀
      </button>

      <div style="display: flex; align-items: center; margin: 30px 0;">
        <div style="flex: 1; height: 1px; background: #E0E0E0;"></div>
        <span style="padding: 0 15px; color: var(--text-muted); font-size: 0.85rem;">O regístrate con</span>
        <div style="flex: 1; height: 1px; background: #E0E0E0;"></div>
      </div>

       <div class="social-btn-container">
        <button type="button" class="btn-social">
          <img src="https://www.svgrepo.com/show/475656/google-color.svg" class="social-icon" alt="G">
          Google
        </button>
        <button type="button" class="btn-social">
          <img src="https://www.svgrepo.com/show/448224/facebook.svg" class="social-icon" alt="F">
          Facebook
        </button>
      </div>

    </form>

    <div style="text-align: center; margin-top: 30px;">
      <p style="font-size: 0.9rem; color: var(--text-muted);">
        ¿Ya tienes cuenta? 
        <a routerLink="/login" class="text-link">Inicia sesión</a>
      </p>
    </div>

  </div>
</div>