/* src/styles.scss */
:root {
  --steam-blue: #07B1C9;
  --steam-orange: #F88718;
  --steam-green: #4DB046;
  --steam-red: #E8372D;
  
  --dark-btn: #1a1a1a; /* Negro suave como la referencia */
  --text-main: #222222;
  --text-light: #888888;
  --white: #ffffff;
  --bg-app: #fdfdfd;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', sans-serif; /* Recomiendo importar Poppins de Google Fonts si puedes */
  background-color: var(--bg-app);
}

/* Animación de flotar para las imágenes */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

/* Animación de entrada suave */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* --- CLASE ENVOLTORIO PARA EL PANEL ADMIN --- */
.admin-layout-content {
  min-height: 100vh;
  background-color: var(--bg-light, #F4F6F8);
  padding: 20px;
  padding-top: 70px; /* Espacio arriba en móvil para el botón hamburguesa */

  /* En PC empujamos el contenido a la derecha para dar espacio al Sidebar */
  @media (min-width: 1024px) {
    margin-left: 260px; /* Mismo ancho del sidebar */
    padding: 40px; /* Más aire en PC */
  }
}